
# LaTeX

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.bcf
*.nav
*.run.xml
*.snm

# Custom

*.pdf
.ipynb_checkpoints
*.pyc

# OSX
.DS_Store
