Anno Knierim <anno.knierim@tu-dortmund.de> Anno Knierim <32365583+aknierim@users.noreply.github.com>

Christian Beckmann <christian.beckmann@tu-dortmund.de> <christian.beckmann@udo.edu>
Christian Beckmann <christian.beckmann@tu-dortmund.de> <christian.beckmann@tu-dortmund.de>
Christian Beckmann <christian.beckmann@tu-dortmund.de> <christian.beckmannmustermann@tu-dortmund.de>
Christian Beckmann <christian.beckmann@tu-dortmund.de> <32388722+chrbeckm@users.noreply.github.com>

Fabian Schierok <fabian.schierok@tu-dortmund.de> Fabian Schierok <fabian.schierok@udo.edu>

Jan Herdieckerhoff <jan.herdieckerhoff@tu-dortmund.de> <jan.herdieckenhoff@tu-dortmund.de>
Jan Herdieckerhoff <jan.herdieckerhoff@tu-dortmund.de> <jherdieckerhoff@point-8.de>
Jan Herdieckerhoff <jan.herdieckerhoff@tu-dortmund.de> <jherdieckerhoff@tu-dortmund.de>
Jan Herdieckerhoff <jan.herdieckerhoff@tu-dortmund.de> <jan.herdi@gmail.com>

Joshua Luckey <joshua.luckey@tu-dortmund.de>

Kevin Schmidt <kevin3.schmidt@tu-dortmund.de> <kevin3.schmidt@tu-dortmund.de>
Kevin Schmidt <kevin3.schmidt@tu-dortmund.de> <Kevin2@users.noreply.github.com>

Kevin Heinicke <kevin@kehei.de>

Lena Linhoff <lena.linhoff@tu-dortmund.de>
Lena Linhoff <lena.linhoff@tu-dortmund.de> <lena.linhoff@googlemail.com>

Kevin Dungs <kevin@dun.gs> <kdungs@users.noreply.github.com>

Thorben Menne <thorben.menne@tu-dortmund.de> <mennthor@aol.com>
Thorben Menne <thorben.menne@tu-dortmund.de> <mennthor@users.noreply.github.com>

Maximilian Linhoff <maximilian.linhoff@tu-dortmund.de> <maximilian.noethe@tu-dortmund.de>
Maximilian Linhoff <maximilian.linhoff@tu-dortmund.de> <maximilian.noethe@udo.edu>
Maximilian Linhoff <maximilian.linhoff@tu-dortmund.de> <max.noethe@t-online.de>

Sebastian Lütge <sebastian.luetge@tu-dortmund.de> <sebastian.luetge@tu-dortmund.de>
Sebastian Lütge <sebastian.luetge@tu-dortmund.de> <32368691+SepplL@users.noreply.github.com>

Lars Klompmaker <lars.klompmaker@googlemail.com>

Stefan Grisard <stefan.grisard@tu-dortmund.de>

Vukan Jevtic <vukan.jevtic@tu-dortmund.de>
