Alex Wolf <alexander2.wolf@tu-dortmund.de> drgh0st <alexwolf1996@t-online.de>

Steven Becker <steven.becker@tu-dortmund.de> beckstev <beckstev@web.de>

Christian Beckmann <christian.beckmann@udo.edu> chrbeckm <32388722+chrbeckm@users.noreply.github.com>
Christian Beckmann <christian.beckmann@udo.edu> chrbeckm <christian.beckmann@udo.edu>

Christian-Roman Gerhorst <christiangerhorst@gmail.com>


Henning Moldenhauer <henning.moldenhauer@tu-dortmund.de> hmoldenhauer <henning.moldenhauer@udo.edu>

Joshua Luckey <joshua.luckey@tu-dortmund.de> LuckyJosh <joshua.luckey@tu-dortmund.de>

Kevin Dungs <kevin@dun.gs> Kevin Dungs <kdungs@users.noreply.github.com>

Kevin Heinicke <kevin@kehei.de> Kevin H <kevin@kehei.de>

Kevin Schmidth <kevin3.schmidt@tu-dortmund.de> Kevin2 <Kevin2@users.noreply.github.com>

Lena Linhoff <lena.linhoff@tu-dortmund.de> lena-lin <lena.linhoff@googlemail.com>
Lena Linhoff <lena.linhoff@tu-dortmund.de> llinhoff <lena.linhoff@tu-dortmund.de>

Jan Herdieckenhoff <jan.herdieckenhoff@tu-dortmund.de> Lewis206 <jan.herdi@gmail.com>

Maximilian Nöthe <maximilian.noethe@tu-dortmund.de> Max Noethe, Desktop <max.noethe@t-online.de>
Maximilian Nöthe <maximilian.noethe@tu-dortmund.de> Maximilian Noethe <maximilian.noethe@tu-dortmund.de>
Maximilian Nöthe <maximilian.noethe@tu-dortmund.de> Maximilian Noethe <maximilian.noethe@udo.edu>

Stefan Grisard <stefan.grisard@tu-dortmund.de> Stefan <stefan.grisard@tu-dortmund.de>

Thorben Menne <thorben.menne@tu-dortmund.de> Thorben Menne <mennthor@aol.com>
Thorben Menne <thorben.menne@tu-dortmund.de> Thorben Menne <mennthor@users.noreply.github.com>

Vukan Jevtic <vukan.jevtic@tu-dortmund.de> VukanJ <vukan.jevtic@tu-dortmund.de>
